[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[tool.setuptools.packages.find]
where = ["."]

[project]
dependencies = [
    "phonepe_sdk @ https://phonepe.mycloudrepo.io/public/repositories/phonepe-pg-sdk-python/phonepe_sdk-2.2.0-py3-none-any.whl"
]
